.search-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cornflowerblue;
}

.load-more {
    display: block;
    margin: 0 auto;
}